extends layout
block content


  head    
    // Custom styles for this template
    link(href='https://getbootstrap.com/docs/4.0/examples/signin/signin.css', rel='stylesheet')
  body
    .container(style = "padding-top: 3.5rem")
      form.form-signin(action='/login' method='post')
        h2.form-signin-heading Please sign in
        label.sr-only(for='inputEmail') Email address
        input.form-control(type='email', name ='username', placeholder='Email address', required='', autofocus='')
        label.sr-only(for='inputPassword') Password
        input.form-control(type='password',name='password', placeholder='Password', required='')        
        button.btn.btn-lg.btn-primary.btn-block(type='submit') Sign in
    
